/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html {
   background-color: #FF0088;
 }

 ul, li {
   font-family: 'Shrikhand', cursive;
   /*font-family: 'Permanent Marker', cursive;*/
   text-align: center;
   font-size: 30px;
 }

 ul {
   list-style: none;
   padding-left: 0;
 }

 li {
   display: inline;
   margin-right: 15px;
 }

 a {
   color: black;
   text-decoration: none;
 }

 .topnav a:hover {
   color: #fdd0e8;
 }

 .link {
   color: #ff0082;
 }

 .link:hover {
   color: black;
 }

 .header {
   background-image: url("/images/catcollage.png");
   width: 1000px;
   height: 288px;
   margin: 0 auto;
 }

 .topnav {
   color: black;
   margin-top: -25px;
 }

 .main_view {
   border: 3px solid black;
   border-radius: 50%;
   width: 245px;
   height: 445px;
   padding: 25px;
   margin: 0 auto;
   margin-left: 35px;
   margin-bottom: 40px;
   display: inline-table;
   text-align: center;
   background: #fdd0e8;
   font-family: 'Permanent Marker', cursive;
   font-size: 17px;
   color: black;
 }

 .cat_img {
   background-size: cover;
   margin: 0 auto;
   border: 2px solid black;
   border-radius: 50%;
   width: 200px;
   height: 150px;
 }

 /*SLIDE SHOW CSS*/

 .tech-slideshow {
  height: 325px;
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

.tech-slideshow > div {
  height: 400px;
  width: 2526px;
  background-image: url("/images/CATCOLLAGE2.jpg");
  background-size: cover;
  background-repeat:round;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transform: translate3d(0, 0, 0);
}
.tech-slideshow .mover-1 {
  animation: moveSlideshow 12s linear infinite;
}
.tech-slideshow .mover-2 {
  opacity: 0;
  transition: opacity 0.5s ease-out;
  background-position: 0 -200px;
  animation: moveSlideshow 15s linear infinite;
}
.tech-slideshow:hover .mover-2 {
  opacity: 1;
}

@keyframes moveSlideshow {
  100% {
    transform: translateX(-66.6666%);
  }
}
