// Place all the styles related to the Registrations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.user_page {
  font-family: 'Permanent Marker', cursive;
  width: 100%;
  height: inherit;
}

.user_page h2 {
  color: #000;
  height: 30px;
}

.user_info {
  box-sizing: border-box;
  text-align: center;
  width: 70%;
  margin: 0 auto;
  padding: 10px;
  background-color: #fdd0e8;
  border-radius: 30%;
  border: 3px solid black;
  margin: 0 auto;
}

.user_block {
  width: 75%;
  margin: 0 auto;

}

.user_pet {
  border: 3px solid black;
  border-radius: 50%;
  width: 245px;
  height: 445px;
  padding: 25px;
  margin: 0 auto;
  margin-left: 35px;
  margin-bottom: 40px;
  display: inline-table;
  text-align: center;
  background: #fdd0e8;
  font-family: 'Permanent Marker', cursive;
  font-size: 17px;
  color: black;
}

.prof_img {
  background-size: cover;
  margin:  0 auto;
  border: 2px solid black;
  border-radius: 50%;
  width: 200px;
  height: 150px;
}
